.Blackbox {
  background-color: rgb(31, 30, 30);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40%;
}
.BookingButton{
  margin-top: -30%;
  margin-left:35%;
 
}


.icon-white{
  color: white;
}
.inputgroup{
  
  margin-top: -15%;
  width: 60%;
}
input{
  color: #1080c2;
}
label{
  top:-10px !important;
}
label.active{
  top:-10px !important;
}

.material-icons.active {
  color: #1080c2 !important;
  }

  .input-field input[type=text] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #ffffff !important;
   }
   
   .input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
   }
   
   
   .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #1080c2 !important;
   }
   
   .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1080c2 !important;
    box-shadow: 0 1px 0 0 #1080c2 !important;
   }

   
  .input-field input[type=tel] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #ffffff !important;
   }
   
   .input-field input[type=tel], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
   }
   
   
   .input-field input[type=tel]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #1080c2 !important;
   }
   
   .input-field input[type=tel]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1080c2 !important;
    box-shadow: 0 1px 0 0 #1080c2 !important;
   }